<div class="input-group input-group--button">
    <input type="text" class="input" placeholder="@Placeholder" @oninput="OnValueChanged" />
    <CustomButton Type="ButtonOptions.Type.Icon"
                  PreventDefault="false"
                  OnClick="@OnClick">
        <Icon Type="IconOptions.Type.Search"></Icon>
    </CustomButton>
</div>

@code {
    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public EventCallback<Action> OnClick { get; set; }
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        await ValueChanged.InvokeAsync(Value);
    }

}
